.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 70px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.row {
  margin: 0 0 1rem 0;
}

.col-6 {
  padding: 0 1rem;
}

.toggle {
  color: white;
}
